<div class="container">
    <app-loader color="#909ceb" position="relative" *ngIf="ordersLoading || ongoingLoading"></app-loader>
    <div *ngIf="!ordersLoading && !ongoingLoading">
        <mat-card class="add-card" routerLink="/books/create">
            <mat-icon>add</mat-icon>
            <h3>Sell a book!</h3>
        </mat-card>
        <h1 *ngIf="ongoing.length > 0">Ongoing: </h1>
        <app-book-card-ongoing *ngFor="let auction of ongoing" [auction]="auction"></app-book-card-ongoing>
        <h1 *ngIf="data.length > 0">Concluded:</h1>
        <app-book-card-auctions *ngFor="let auction of data" [purchase]="auction" (statusChanged)="statusChanged($event)"></app-book-card-auctions>
    </div>
    <p *ngIf="!ordersLoading && !ongoingLoading && data.length == 0 && ongoing.length == 0" class="empty">You didn't post any auction, start now clicking the button above!.</p>
</div>