.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 10px;
}

p{
    margin: 0;
    font-size: smaller;
}

mat-card{
    align-items:flex-start;
    justify-content: center;
}

.rightbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
    mat-icon{
        margin: 0 !important;
    }
}

mat-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 10%;
}