:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
}

mat-form-field {
    width: 100% - 20%;
    padding: 0 10% 0 10%;
}

mat-icon{
    border-radius: 100%;
}