.container{
    margin-left: 20px;
    min-width: 100%;
    min-height: 90%;

    h3{
        font-size: 250%;
        margin: 0;
    }

    .info{
        .row{
            margin-left: 20px;
            p{
                font-size: 150%;
            }
            .prop{
                font-weight: bold;
            }
    
            display: flex;
            justify-content:last baseline;
            gap: 10px;
            flex-direction: row;   
        }
    }
    
    .payment{
        width: 100%;
        padding-top: 5%;
        h3{
            font-size: 250%;
        }
        .holder{
            padding-top: 5%;
            overflow-y: hidden;
            overflow-x: scroll;
        }
    }
}

@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        margin-left: 0;
        .info{
            .row{
                margin-left: 0;
                p{
                    font-size: 100%;
                }
            }
        }
    }
    
}