<app-navbar></app-navbar>
<app-loader *ngIf="ajaxLoading" color="#ff0000"></app-loader>
<div class="container" *ngIf="book && !ajaxLoading">
    <div class="left">
        <div class="top">
            <div class="image-container">
                <img [src]="book.cover" alt="Book Image">
            </div>
            <div class="details-container">
                <h1 class="title">{{book.title}}</h1>
                <p class="author">Author: {{book.author}}</p>
                <p>ISBN: <code>{{book.isbn}}</code></p>
                <p>Degree Course: {{book.degree_course}}</p>
                <div class="ends-in">
                    <p class="countdown">{{ends_in | unixToHumanDate}}</p>
                    <p>Until the end</p>
                </div>
            </div>
        </div>
        <div class="bottom" *ngIf="book && isOpen && role === 'student'">
            <div class="action" *ngIf="isLoggedIn">
                <app-offer-card [offer]="lastBid?.offer" (onBid)="onBid($event)"></app-offer-card>
            </div>
            <div class="login" *ngIf="!isLoggedIn">
                <div>
                    <p>You have to be logged in to post an offer!</p>
                    <p>Login to Gabibook to discover thousands of books auctioned by students like you everyday!</p>
                </div>
                <button mat-raised-button color="primary" routerLink="/login">Login</button>
            </div>
        </div>
        <div class="bottom bottom-mod" *ngIf="book && role === 'moderator' && !past">
            <h3>Moderate this book</h3>
            <div class="moderate">
                <button mat-raised-button class="edit" (click)="onEdit()">Edit <mat-icon>edit</mat-icon></button>
                <button mat-raised-button class="ban" (click)="onBan()">Ban <mat-icon>delete</mat-icon></button>
            </div>
        </div>
    </div>
    <div class="chat" *ngIf="role === 'student'">
        <app-loader *ngIf="!publicChat " color="#ff0000" position="relative"></app-loader>
        <!--TODO: change if or privateChat -->
        <mat-tab-group *ngIf="publicChat"> <!--TODO: change if && privateChat-->
            <mat-tab label="Public chat">
                <h1>Public chat:</h1>
                <div class="chat-container" id="public-chat">
                    <app-message *ngFor="let message of publicChatMessages" [message]="message"
                        [isOwner]="message.sender === book.owner" [isMe]="message.sender === user_uid"
                        [ngClass]="{'mine': message.sender === user_uid}"></app-message>
                </div>
                <form class="chat_form" [formGroup]="publicChatForm" (ngSubmit)="onPublicChatSubmit()">
                    <mat-form-field>
                        <input class="send_textarea" matInput placeholder="Type a message" formControlName="message">
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Send</button>
                </form>
            </mat-tab>
            <mat-tab label="Private chat">
                <h1>Private chat:</h1>
                <div class="chat-container">
                    <mat-accordion *ngFor="let item of privateChats | keyvalue">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Chat {{item.key}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    <app-message *ngFor="let message of item.value.messages" [message]="message"
                                    [isOwner]="message.sender === book.owner" [isMe]="message.sender === user_uid"
                                    [ngClass]="{'mine': message.sender === user_uid}"></app-message>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <app-message *ngFor="let message of privateChatMessages" [message]="message"
                        [isOwner]="message.sender === book.owner"></app-message>
                        </mat-expansion-panel>
                    </mat-accordion>

                    
                </div>
                //todo form
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="chat" *ngIf="role === 'moderator'">
        <h1>Sorry, chat is not available for moderators.</h1>
    </div>
</div>