.container {
    margin: 20px 5%;
    height: 88%;
    display: flex;
    flex-direction: row;

    div.left {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-right: #191919 1px solid;

        .top {
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: row;

            .image-container {
                display: flex;
                justify-content: center;
                align-items: first baseline;
                max-width: 40%;
                height: 100%;

                img {
                    max-height: 100%;
                }
            }

            .details-container {
                height: 100%;
                padding: 0 20px;
                display: flex;
                flex-direction: column;

                * {
                    margin-top: 0;
                }

                .title {
                    font-size: 3rem;
                    color: #191919;
                }

                .author {
                    font-size: 1.5rem;
                    color: #707070;
                }

                .isbn {
                    font-size: 1rem;
                }

                .ends-in {
                    color: #707070;

                    .countdown {
                        font-size: 1.5rem;
                        color: #ff0000;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .bottom {
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            padding-top: 80px;

            .login {
                display: flex;
                flex-direction: column;
                font-size: 2rem;
                color: #707070;

                border: #191919 1px solid;
                border-radius: 10px;

                margin-right: 10%;

                padding: 20px;

                div {
                    p {
                        text-align: center;
                        margin: 0;
                    }
                }

                button {
                    margin-top: 20px;
                    width: 50%;
                    align-self: center;
                    background-color: #ff0000;
                    color: white;
                    border: none;
                    font-size: 1.5rem;
                    cursor: pointer;

                    &:hover {
                        background-color: #ff3333;
                    }

                }
            }


            &.bottom-mod {
                .moderate {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    .edit {
                        background-color: rgb(144, 156, 235);
                        color: white;
                    }

                    .ban {
                        background-color: rgb(255, 0, 0);
                        color: white;
                    }
                }
            }
        }


    }

    .chat {

        width: 30%;
        h1{
            margin-left: 20px;
        }

        .chat-container {
            height: 60vh;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            padding-left: 15px;
            padding-right: 15px;

            app-message {
                width: 80%;
            }

            app-message.mine {
                align-self: flex-end;
            }
        }

        .chat_form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 10vh;
            padding: 10px;

            mat-form-field {
                width: 80%;
                height: 100% !important;
            }

            input {
                height: 100% !important;
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;

        div.left {
            width: 100%;
            border-right: none;

            .top {
                height: auto;
                flex-direction: column;

                .image-container {
                    max-width: 100% !important;

                    img {
                        max-width: 80%;
                    }
                }

                .details-container {
                    padding: 20px 0;
                    text-align: center;
                }
            }

            .bottom {
                height: auto;
                padding-top: 20px;
                padding-bottom: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .chat {
            display: none;
        }
    }
}