<div class="container">
    <div>
        <h1>Forgot Password?</h1>
        <mat-card class="card">
            <img src="assets/forgot-password.jpg" alt="forgot password">
            <div class="form-zone">
                <p>Enter your email address and we'll send you a link to reset your password.</p>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" *ngIf="!token">
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email">
                        </mat-form-field>
                        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched"
                            class="error">
                            <span
                                *ngIf="forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched">Email
                                is required</span>
                            <span
                                *ngIf="forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordForm.get('email')?.touched">Email
                                is invalid</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <button mat-raised-button class="back" routerLink="/login" type="button">
                            < Back to login </button>
                        <button type="submit" mat-raised-button class="submitButton"
                            [disabled]="forgotPasswordForm.invalid">Submit</button>
                    </div>
                </form>

                <form [formGroup]="newPassForm" (ngSubmit)="onNewPassSubmit()" *ngIf="token">
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="New Password" formControlName="password" type="password">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Confirm Password" formControlName="confirmPassword"
                                type="password">
                        </mat-form-field>
                        <div *ngIf="newPassForm.get('password')?.invalid && newPassForm.get('password')?.touched ||
                                    newPassForm.get('confirmPassword')?.invalid && newPassForm.get('confirmPassword')?.touched"
                            class="error">
                            <span
                                *ngIf="newPassForm.get('password')?.hasError('required') && newPassForm.get('password')?.touched">Password
                                is required</span>
                            <span
                                *ngIf="newPassForm.get('password')?.hasError('minlength') && newPassForm.get('password')?.touched">Password
                                must be at least 8 characters</span>
                            <span *ngIf="newPassForm.get('confirmPassword')?.hasError('passwordMismatch')">Passwords
                                do not match</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <button mat-raised-button class="back" routerLink="/login" type="button">
                            < Back to login </button>
                        <button type="submit" mat-raised-button class="submitButton"
                            [disabled]="newPassForm.invalid">Submit</button>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>